/LAB*/LAB*/obj/
/LAB*/LAB*/bin/
/LAB*/.idea/
/LAB4/LAB*/LAB*/obj/
/LAB4/LAB*/LAB*/bin/
/LAB4/LAB*/.idea/
/LAB4/myOwnDLL/myOwnDLL/obj/
/LAB4/myOwnDLL/myOwnDLL/bin/
/LAB4/myOwnDLL/.idea/
/InterfaceExample/InterfaceExample/obj/
/InterfaceExample/InterfaceExample/bin/
/InterfaceExample/.idea/